@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
 

/* Set background color of navbar */
div.container-fluid, .bg-light, ul.dropdown-menu.show {
    background-color: #d4d0c8!important;
}


.navbar-brand {
    font-size: 1.75rem;
}

nav a {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

/* Font */

body .headings, h4.text-center {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

/* Font for appointment, home page */
p.text-center.mt-5.mb-5 {
    font-size: x-large;
}

.click-here {
    color: #212529;
}

/* Portfolio cards */

div#custom-carousel {
    max-width: 70%;
    justify-content: center;
    margin: auto;
}

/* Set background color, and some padding */
footer {
    background-color: #d4d0c8;
    color: #212529;
    padding: 1%;
    bottom: 0;
}

.social-networks {
    text-align: center;
}

.social-networks i {
    font-size: 160%;
    margin: 0 1%;
    padding: 0 2%;
    color: #212529;
}