@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/* Landing Page About */

.about-image, .success-image {
    max-width: 75%;
    /* max-height: auto; */
    padding-left: 25%;
}

.index-about, .services-about {
    max-width: 90%;
    /* max-height: auto; */
    padding-left: 13%;
}

.services-about {
    max-width: 90%;
    /* max-height: auto; */
    padding-right: 13%;
}

img.img-fluid.aboiut-image.mt-5 {
    vertical-align: middle;
}

/* Navbar */

div.container-fluid,
.bg-light,
ul.dropdown-menu.show,
div.modal-header,
div.modal-footer {
    background-color: #d4d0c8 !important;
}

.logo {
    font-size: x-small;
}

span.logo {
    text-align: center;
}

.navbar-brand {
    font-size: 1.75rem;
}

nav a {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

/* Font */

body .headings,
h4.text-center {
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}

.click-here {
    color: #212529;
}

/* Font - Color for Covid banner */

p.text-center.mt-5.mb-5 {
    background-color: #bd9a99;
}

/* Portfolio */

div#custom-carousel {
    max-width: 70%;
    justify-content: center;
    margin: auto;
}
 
span {
    margin: auto;
} 

/* Contact */

form,
body,
div.modal-body {
    background-color: #f9f8f7;
}

div.card-body {
    background-color: #bd9a99;
}

form {
    width: 90%;
}

/* Contact - Center Cards*/

div.card,
div.form-group,
form {
    margin: auto;
}

div.form-group {
    max-width: 70%;
}


/* Footer */

footer {
    background-color: #d4d0c8;
    color: #212529;
    padding: 1%;
    bottom: 0;
}

div.text-center.p-4 {
    background-color: rgba(0, 0, 0, 0.05);
}

.social-networks {
    text-align: center;
}

.social-networks i {
    font-size: 160%;
    margin: 0 1%;
    padding: 0 2%;
    color: #212529;
}

.email-link {
    color: #6c757d;
}


/* Media Queries */

@media (max-width: 480px) {
    .showroom {
        display: none;
    }
}

@media (max-width: 991px) {
    .scroll-down, .scroll-down::after, .scroll-down::before, div.scroll-down {
        display: none;
    }
}

/* Media query to reduce amount of circles */

@media (min-width: 1200px) and (max-width: 1399px) {
  .paint-circle-sea, .paint-circle-coal, .headings19, .headings20 {
        display: none;
    }
}

@media (min-width: 372px) and (max-width: 495px) {
    .paint-circle-sea, .paint-circle-coal, .headings19, .headings20 {
          display: none;
      }
  }


/* Paint Circle Divs - Colour/Size */

.paint-circle-white {
    height: 100px;
    width: 100px;
    background-color: #eee9e7;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-beige {
    height: 100px;
    width: 100px;
    background-color: #ece9d8;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-brown {
    height: 100px;
    width: 100px;
    background-color: #cec0ad;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-greige {
    height: 100px;
    width: 100px;
    background-color: #ddd8cf;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-mouse {
    height: 100px;
    width: 100px;
    background-color: #a59f97;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-sage {
    height: 100px;
    width: 100px;
    background-color: #bfc2b2;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-grey {
    height: 100px;
    width: 100px;
    background-color: #d9d8d2;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-stone {
    height: 100px;
    width: 100px;
    background-color: #8d8d8b;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-plaster {
    height: 100px;
    width: 100px;
    background-color: #ccbeb2;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-mauve {
    height: 100px;
    width: 100px;
    background-color: #9f9289;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-radish {
    height: 100px;
    width: 100px;
    background-color: #5d3a42;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-citrus {
    height: 100px;
    width: 100px;
    background-color: #d6c73c;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-apple {
    height: 100px;
    width: 100px;
    background-color: #babba5;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-leaf {
    height: 100px;
    width: 100px;
    background-color: #889080;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-denim {
    height: 100px;
    width: 100px;
    background-color: #4d5b6a;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-purple {
    height: 100px;
    width: 100px;
    background-color: #494248;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-cherry {
    height: 100px;
    width: 100px;
    background-color: #a04344;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-blush {
    height: 100px;
    width: 100px;
    background-color: #9f837f;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-sea {
    height: 100px;
    width: 100px;
    background-color: #8a9c9b;
    border-radius: 50%;
    margin: 2%;
}

.paint-circle-coal {
    height: 100px;
    width: 100px;
    background-color: #45484b;
    border-radius: 50%;
    margin: 2%;
}


/* Scroll down feature Credit to Fiachra Holland */

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #f9f8f7;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: block;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    -webkit-transform: translate(-50%, -100%) rotate(45deg);
        -ms-transform: translate(-50%, -100%) rotate(45deg);
            transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #f9f8f7;
    border-top: transparent;
    border-left: transparent;
    -webkit-animation: scroll-down 1s ease-in-out infinite;
            animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  
  @-webkit-keyframes scroll-down {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  
  @keyframes scroll-down {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  